<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Issue Tracker</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>

</head>
<body>
issues


<!--<div id="chartContainer"></div>-->
<!--<script>-->
<!--    window.onload = function () {-->
<!--        const chartData = JSON.parse(/*[[${chartData}]]*/ '[]');-->
<!--        console.log(chartData);-->
<!--        // Highcharts.chart('chartContainer', {-->
<!--        //     chart: {-->
<!--        //         type: 'column'-->
<!--        //     },-->
<!--        //     title: {-->
<!--        //         text: 'Issue Count by User'-->
<!--        //     },-->
<!--        //     xAxis: {-->
<!--        //         type: 'category',-->
<!--        //         labels: {-->
<!--        //             rotation: -45,-->
<!--        //             style: {-->
<!--        //                 fontSize: '13px',-->
<!--        //                 fontFamily: 'Verdana, sans-serif'-->
<!--        //             }-->
<!--        //         }-->
<!--        //     },-->
<!--        //     yAxis: {-->
<!--        //         min: 0,-->
<!--        //         title: {-->
<!--        //             text: 'Number of Issues'-->
<!--        //         }-->
<!--        //     },-->
<!--        //     legend: {-->
<!--        //         enabled: false-->
<!--        //     },-->
<!--        //     tooltip: {-->
<!--        //         pointFormat: 'Number of Issues: <b>{point.y}</b>'-->
<!--        //     },-->
<!--        //     series: [{-->
<!--        //         name: 'User',-->
<!--        //         data: chartData-->
<!--        //     }]-->
<!--        // });-->

<!--        fetch('/test')-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--                console.log(data);-->
<!--                Highcharts.chart('chartContainer', {-->
<!--                    chart: {-->
<!--                        type: 'column'-->
<!--                    },-->
<!--                    title: {-->
<!--                        text: 'Issue Count by User'-->
<!--                    },-->
<!--                    xAxis: {-->
<!--                        type: 'category',-->
<!--                        labels: {-->
<!--익                            style: {-->
<!--                                fontSize: '13px',-->
<!--                                fontFamily: 'Verdana, sans-serif'-->
<!--                            }-->
<!--                        }-->
<!--                    },-->
<!--                    yAxis: {-->
<!--                        min: 0,-->
<!--                        title: {-->
<!--                            text: 'Number of Issues'-->
<!--                        }-->
<!--                    },-->
<!--                    legend: {-->
<!--                        enabled: false-->
<!--                    },-->
<!--                    tooltip: {-->
<!--                        pointFormat: 'Number of Issues: <b>{point.y}</b>'-->
<!--                    },-->
<!--                    series: [{-->
<!--                        name: 'User',-->
<!--                        data: data-->
<!--                    }]-->
<!--                });-->
<!--            })-->
<!--            .catch(error => console.error(error));-->
<!--    };-->
<!--</script>-->
</body>
</html>
